<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="localhost:8080/layui/css/layui.css"/>
</head>
<body>
<div class="container">
    <div class="header"></div>
    <div class="search">
        <button class="layui-btn layui-btn-normal">一个标准的按钮</button>
    </div>
    <div class="main">
        <div style="margin-top: 8px;">
            <a href="#"><span style="color: blue"><h4>王者荣耀最新攻略集锦</h4></span></a>
            <p>气温都i去外地his的哦啊三地哦啊号佛i撒挥发发黑随哦大幅回升udfuhsdfuudsfuisdgfu</p>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="locahost:8080/layui/layui.js"/>
<script>
    $(document).ready(function(){

    });
</script>
</html>