<!DOCTYPE html>
<html lang="zh-CN">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>

    <meta charset="UTF-8">
    <title>首页 | 王者荣耀资讯订阅</title>
    <style>
		.title{
			font-size:32px;
			color:black;
			text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
		}
        .main{
            margin-top: 20px;
			min-height:600px;
			width: 690px;
		}
        .hot_s a {
            margin: 0px 0.4em;
        }
    </style><link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="navbar navbar-inverse " role="navigation">
  <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
 <div >
     <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
           
                 <li><a href="/user/login">订阅</a></li>
                 <li><a href="/user/register">取消订阅</a></li>
            
         </ul>
     </div>
 </div>
</div>

<div id="content" class="container" >
	<div class="title">
		<span>王者荣耀资讯订阅站</span>
	</div>
    <div style="text-align: center">
        <div class="form-group">
            <div class="row">

                <input autocomplete="off" style="height: 2.5em;border-width: 2px;width: 50%"
                       id="search_input" name="q" type="text" placeholder="在此输入您想要搜索的资讯">

                <button id="search-btn" style="background-color: green;border-width: 0px;height: 2.5em;width: 6em;"><span style="color:#ffffff">搜索一下</span></button>
            </div>
        </div>
    </div>

    <div id="hot_s" class="hot_s" style="text-align: center;margin-top: 20px">

    </div>
	<div id="main" class="main" style="margin: 20px auto;">

	</div>
</div>
<div class="copyright" style="text-align: center;margin-top: 20px;background:black;color:#ffffff;">
	<p>本站仅提供资讯链接和订阅服务，不存放任何实质内容。如有侵权，请发送消息至chenmutime@outlook.com，必将及时撤除所有相关信息。</p>
</div>
</body>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            var suggest_url = "{% url 'search_suggest' %}"
            $("#search_input").bind("input propertychange", function () {
                var keyword = $(this).val()
                $.get(suggest_url, {"s": keyword}, function (data) {
                    $("#search_input").typeahead({source: data});
                }, 'json');

            });
			$.ajax({
				url:"http://localhost:8080/hotheros",
				success:function (result) {
					if(result.count > 0){
						$("#hot_s").append("<span>最近热词:</span>");
						var heros = result.list;
						for(var i = 0;i<heros.length;i++){
							$("#hot_s").append("<a href='javascript:void(0)' onclick='indexPage(\""+heros[i]+"\");'>"+heros[i]+"</a>");
						}
					}
				}
			});
            $("#search-btn").click(function () {
                var param = $("#search_input").val();
                if('' == param.trim()){
                    alert("请输入内容");
                }else{
                    $("#main").empty();
                    indexPage(param);
                }
            });

			var indexPage = function(param){
                    $.ajax({
                        url:"http://localhost:8080/find?q="+param,
                        success:function (result) {
                            if(result.count > 0){
                                var infos = result.list;
                                for(var i = 0;i<infos.length;i++){
                                    $("#main").append("<div >");
                                    $("#main").append("<h4>");
                                    $("#main").append("<a href='"+infos[i].url+"' style='text-decoration:underline'>"+infos[i].title+"</a>");
                                    $("#main").append("</h4>");
                                    $("#main").append("<p font-size='3px'>来源："+infos[i].sitename+" 作者："+infos[i].author+" 发布日期："+infos[i].publish+"</p>");
                                    $("#main").append("<article>");
                                    $("#main").append(infos[i].introduction);
                                    $("#main").append("</article>");
                                    $("#main").append("</div class='article'>");
                                }
                            }
                        }
                    });
            };
        })
    </script>
</html>